:root {
    --timer-font-size: 5rem;
}

@keyframes selecttimer {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: var(--selection-box-shadow);
    }
}

@keyframes fadeinselection {

    from {
        border: none;
        background-color: var(--dark-style-bg);
    }

    to {
        border-bottom: white solid 1px;
        background-color: var(--dark-style-highlight);
    }
}

@keyframes grow-bottom-border {
    0% {
        left: 0%;
        width: 0%;
    }

    50% {
        width: 50%;
        left: 25%;
    }

    100% {
        width: 100%;
        left: 0%;
    }
}


/* The container being selected */
.timer-selected {
    animation-name: selecttimer;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    box-shadow: var(--selection-box-shadow);
    position: relative;
}

.timer-selected:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 100%;
    left: 0%;
    border-bottom: #ffb2ff 1px solid;

    animation-name: grow-bottom-border;
    animation-duration: 0.5s;
}

/* The individual span being selected */
.timer-active {
    border-bottom: white solid 1px;
    background-color: var(--dark-style-highlight);

    animation-name: fadeinselection;
    animation-duration: 0.2s;
}

.timer-container {
    color: #FFF;
    width: 26em;

    text-align: center;

    padding: 5%;

}

.timer-container span:hover, .timer-container:hover {
    cursor: pointer;
}

.timer-hidden {
    display: none;
}

.timer-digit {
    font-size: var(--timer-font-size);
}

.timer-unit, .timer-display-unit {
    font-size: 1rem;
}

.timer-display {
    font-size: var(--timer-font-size);
}