.audio-preview {
    box-shadow: var(--selection-box-shadow);
    border-radius: 5px;

    padding: 10px;

    margin-bottom: 12px;

    color: #fff;
    font-size: 1.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    transition: background-color 0.2s ease-in-out;

    cursor: pointer;
}

.audio-preview:not(.audio-preview-selected):hover {
    background-color: rgb(75, 79, 90);

    transition: background-color 0.2s ease-in-out;
}

.audio-preview-selected {
    background-color: var(--dark-style-highlight);

    border-left: #ffb2ff solid 3px;
}

.audio-preview p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.audio-preview-button {
    cursor: pointer;

    background-color: transparent;
    border: 0;

    color: transparent;
}

.audio-preview-play-button {
    background-image: url(../../img/playButton.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}