:root {
    --dark-style-bg: #292c34;
    --dark-style-highlight: #495062;
    --selection-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@font-face {
    font-family: "Roboto";
    src: url('../../fonts/Roboto-Medium.ttf');
}

body {
    background-color: var(--dark-style-bg);
    font-family: "Roboto";

    padding: 0;
    margin: 0;
}

:focus {
    outline: none;
}

::selection {
    background-color: #ffb2ff;
    color: white;
    box-shadow: var(--selection-box-shadow);
}

.add-timer-button {
    /* center this timer with a 5px border radius and bootstrap blue colour */
    background-color: #3194ff;
    /* border-radius: 5px; */
    color: white;
    font-size: 1.5em;
    padding: 0.5em;
    text-align: center;
    width: 100%;
    border: 0;
}

.add-timer-button:after {
    content: 'Add timer!';

    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;

    left: 0;
    right: 0;

    opacity: 0;
    /* left: 45%; */
    transition: all 0.5s;
    position: absolute;
}

.add-timer-button:hover:after {
    /* content: 'Add timer!'; */

    /* position: absolute; */

    opacity: 1;

    transform: translate(0, -50px);
    transition: all 0.4s;
}

.timers-container {
    margin: 0;
    width: 100%;
}

.add-timer-button:hover {
    cursor: pointer;
    background-color: #4fa2fc;
}

.remove-timer-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4d4d;
    color: white;
    
    align-self: stretch;
    border: 0;
    padding: 0;
}

.remove-timer-button:not(.remove-timer-button-off) {
    font-size: 1.3em;
    width: 40px;

    /* transform: translateX(0px);
    transition: transform 0.5s ease-out; */
    transition: all 0.5s ease-out;
}

.remove-timer-button.remove-timer-button-off {
    font-size: 0;
    width: 0px;
    /* transform: translateX(-40px);
    transition: transform 0.5s ease-out; */
    transition: all 0.5s ease-out;
    /* transition: font-size 0.5s ease-out; */
}

.remove-timer-button:hover {
    cursor: pointer;

    box-shadow: 0px 0px 9px 3px rgba(255,77,77,0.58);
    transition: all 0.3s;

}

.remove-timer-button:focus {
    outline: none;
}

.split-container-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: stretch;
    justify-content:flex-start;

    position: relative;

    width: 100%;
}

.split-container-container:has(.remove-timer-button:not(.remove-timer-button-off)):after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff4d4d;
    opacity: 0;
    pointer-events: none;

    transition: all 0.3s ease-out;
}

.split-container-container:has(.remove-timer-button:not(.remove-timer-button-off):hover):after {
    opacity: 0.3;

    transition: all 0.3s;
}

/**
 * scrollbar
 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #292c34;
}

::-webkit-scrollbar-thumb {
    background: #404757;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background: #ffb2ff;
}
